/*1. General styles*/
/*2. Header & nav styles*/
/*3. Introduction styles*/
/*4. Hospital styles*/
/*5. Team styles*/
/*6. Map & Social*/
/*7. Cita styles*/
/*8. Footer styles*/
/*9. Media queries*/

/*1. General styles*/
@font-face {
  font-family: 'Kdam';
  src: url('resources/fuentes/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Robot Mono';
  src: url('resources/fuentes/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
  font-display: swap;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: white;
  color: black;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-family: 'Kdam', cursive;
}

p,
a {
  font-family: 'Robot Mono', cursive;
  line-height: 1.5rem;
  font-weight: 400;
}

a {
  color: blue;
  text-decoration: none;
}

main {
  padding: 0 5px;
}

/*2. Header styles*/
header {
  background-color: #ead1cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

#sanMichi {
  border-radius: 50%;
  width: 170px;
  height: auto;
  margin: 10px auto;
}

header p {
  font-size: 1.1rem;
  font-weight: 800;
}

nav ul {
  background-color: #7c6d6a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  /*hace los li del nav pocisionarse de manera horizontal, "a lo largo"*/
}

ul li {
  margin: 0 10px;
}

nav a {
  font-size: 1.1rem;
  color: white;
}

nav ul li:nth-child(4) a {
  text-decoration: underline solid white;
}


/*3. Introduction styles*/
#introduction {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 2rem 0px 3rem;
}

/*4. Hospital styles*/
#hospital {
  margin: auto 0;
}

#first img {
  margin: 0 auto;
  padding: 0;
  object-fit: cover;
  width: 80%;
}

figcaption {
  margin-bottom: 2rem;
  font-style: italic;
}

#hospital p:nth-child(3) {
  margin-bottom: 30px;
}

#hospital p:nth-child(4) {
  margin-bottom: 10px;
  font-weight: 600;
}

#hospital figure figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin: 0px auto 10px;
}

/*5. Team styles*/
#teamSection {
  text-align: center;
}

#teamSection h2 {
  margin: 15px auto 5px;
}

#teamDiv {
  background-color: #cbe4ea;
  border-radius: 20px;
  margin: 5px 4px 10px;
  padding: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: auto;
}

#carlos {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  z-index: 5;
  /*esta línea es la que pone la img entre las columnas*/
  text-align: center;
}

.teamIMG {
  border-radius: 50%;
  width: 150px;
  height: auto;
}

/*6.Map & Social styles*/
#mapa {
  margin: 30px auto 0;
  text-align: center;
}

#social {
  background-color: #EFF8F3;
  border-radius: 20px;
  margin: 5px 4px 10px;
  text-align: center;
  padding: 5px;
  border: 1px black solid;
}

#redes {
  display: flex;
  justify-content: space-around;
}

#redes img {
  width: 35px;
  height: auto;
}

/*7. Cita styles*/
#cita {
  text-align: center;
  border: 2px black solid;
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
}

#cita h2 {
  padding-bottom: 5px;
}

/*8.Footer styles*/
footer {
  border-top: 1px white solid;
  text-align: center;
  margin: 20px auto 0;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  font-size: 1rem;
}

/*9. Media queries
/*media queries for medium smartphones
@media only screen and (min-width: 325px) and (max-width: 375px) {}

/*media queries for large smartphones
@media only screen and (min-width: 376px) and (max-width: 425px) {}

/*media queries for tablets
@media only screen and (min-width: 426px) and (max-width: 767px) {}

/*media queries for small laptops or big tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

/*media queries for regular size laptop
@media only screen and (min-width: 1024px) and (max-width: 1600px) {} */